
@use "variables";

body {
  background-color:variables.$primary-color;
  font-size:variables.$font-size;
} 
header{
   text-align: variables.$align-items;
   background-color: variables.$color-header;
  color: variables.$text-color
}
.container{
box-shadow: variables.$box-shadow;
}
.cercle{
    display: flex;
    justify-content: center;
    gap: 55px;
   padding: 15px;
   margin-right: 16px;
    font-size: 25px;
    border-radius: 10px 10px 5px lightblue;

}
.dot{

  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
h1{font-size: 20px;
    text-align: variables.$align-items;

}
.question{
    display: flex;
    flex-direction: column;
    
     text-align: variables.$align-items;
     padding: 20px;
     font-size: 25px;
     color: variables.$text-color;
      color:variables.$question-bacolor;
    
}
.question button{

      margin-top: 10px;
      background-color: variables.$question-bacolor;
       color: variables.$text-color;
       padding: 20px;
       border-radius: 15px;


}
.btn{
    display: flex;
  
    text-align: right;
    align-items: flex-end;
    margin: auto;
     padding: 10px;
       border-radius: 15px;
       width: 70px;
        background-color: variables.$btn-color;
         color: variables.$text-color;
         text-align: variables.$align-items;


}


.bouton-cercle {
  /* 1. Dimensions égales pour un cercle parfait */
  width: 30px;
  height: 30px;
   text-align: center;
    align-items: flex-end;
    bottom: 12px;
    margin: auto;
    margin-top: 20px;

  
  /* 2. Rendre l'élément rond */
  border-radius: 50%;
  
  /* 3. Centrer le contenu (le nombre) */
  display: flex;
  justify-content: end;
  font-size:30px;
  
  
  /* 4. Style du bouton (optionnel) */
  background-color: #007bff;
  color: white;
  border: none;
  
  
 
}
.lbtn{
    display: flex;
    gap: 55px;
    align-items: center;

}