// _mixins.scss

// Mixin for Flexbox
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Mixin for button styles
@mixin button-styles($background, $hover-background) {
  background-color: $background;
  color: white;
  padding: 12px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $hover-background;
  }
}
