<<<<<<< HEAD
@use"animations.scss";
@use"components.scss";
@use"mixins.scss";
@use"variables.scss";
=======
@import"animations.scss";
@import"components.scss";
@import"mixins.scss";
@import"variables.scss";

>>>>>>> data-interaction
